body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(mario-bg.jpg);
    background-size: cover;
    text-align: center;
}

.container{
    /* background-color: green; */
    width: 540px;
    height: 540px;
    border: #fff 2px solid;
    display: flex;
    flex-wrap: wrap;
    background: url(soil.png);
    background-size: cover;
    margin: 0 auto;
    border-radius: 25px;
}

.container div{
    background-image: url(pipe.png);
    background-size: cover;
    width: 180px;
    height: 180px;
}

.container div img{
    width: 100px;
    height: 100px;

    /* user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
}
